<app-project-page [project] = "specificProject"></app-project-page>

<div class ="container">
    <div class="row">
        <div class ="col-sm shadow border m-1 rounded">
            <div class="text-center">
                <p></p>
                <div class ="container">
                    <p>The game can be played in your Web Browser <a href="//mobazy.z19.web.core.windows.net/battleship/index.html" target="_blank">Play in your Browser 👾</a>. 
                    </p>                
                </div>
            </div>
        </div>
    </div>  

    <div class="row">
        <div class ="col-sm shadow border m-1 rounded">
            <div class="text-center">
                <h2 style="margin-top: 2%;">Design Document</h2>
                <p></p>
                <div class ="container">
                    <p style="margin-left:150px; margin-right:150px;">Below is a diagram of the architecture Alex uses for many games.</p>
                    <img style="margin: 1%;" src="../../assets/Battle Ship Diagram.png" class="rounded">
                </div>
            </div>
        </div>
    </div>  
</div> 