<div class="container">
    <div class="row">
        <!-- Left Column-->
        <div class ="col-lg shadow border m-1 rounded">
            <div class="text-center">
                <h2>Lost Duckling</h2>
            </div>
            <p>Lost Duckling is a casual puzzle game. The player switches between a pig and a fish to 
                rescue the Lost Duckling.
            </p>
        </div>
        <!-- Right Column-->
        <div class ="col-lg shadow border m-1 rounded">
            <div class="text-center">
                <iframe width="315" height="560"
                src="https://www.youtube.com/embed/2PDt_ViOF9o"
                title="Lost Duckling"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>