<div class="container">
    <div class="row">
        <!-- Left Column-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Lost Duckling</h2>
                <p>Lost Duckling is a casual puzzle game. The player switches between a pig and a fish to 
                    rescue the Lost Duckling.
                </p>
            </div>
        </div>
        <!-- Right Column-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <img src="../../assets/Lost Duckling.gif" class="rounded" style="width: 200px;">
            </div>
        </div>
    </div>

</div>