<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="portfolio">Portfolio</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
        </ol>
      </nav>
    <div class="row">
        <!-- Left Column-->
        <div class ="col-lg shadow border m-1 rounded">
            <div class="text-center">
                <h2>{{project.name}}</h2>
            </div>
            <div class="container">
                <p>{{project.summary}}</p>
                <p><b>Platforms: </b> Apple App Store and Google Play.</p>
                <p><b>Role: </b> Game Designer, Game Programmer, and Project Lead.</p>
                <p><b>Tools Used: </b> Unity, C#, Azure DevOps, Git, Draw.IO.</p>
            <table>
                <tr>
                  <td>
                    <img src="../../assets/App Store.png" width="200px" height="auto">
                    <p></p>
                  </td>
                </tr>
                <tr>
                    <td>
                      <img src="../../assets/Google Play.png" width="200px" height="auto">
                    </td>
                  </tr>
              </table>
            </div>
        </div>
        <!-- Right Column-->
        <div class ="col-lg shadow border m-1 rounded">
            <div class="text-center">
                <iframe style="margin-top: 10px;" width="315" height="560"
                [src]="myTrustedUrl"
                title="Lost Duckling"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>