<div class="container">
    <div class="row">
        <!-- Left Column-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/Professional Picture - Circle.png" width = "256" height = "256">
                <p>Alex is a professional software engineer who develops services used by major oil companies like Shell
                    and BP, requiring the utmost code quality. Alex designs and develops mobile games with Unity and
                    C#. A few games caught the attention of major publishing companies like Lion Studios and Ketchapp.</p>
            </div>
        </div>
        <!-- Right Column-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>

</div>